.Rproj.user
.Rhistory
.RData
nakke.Rproj
*.png
NakkeFigAndelGrVar FEIL.jrxml
*.aux
*.log

*.nav
*.out
*.snm
*.toc
*.vrb
*.tex

aarsrapp/*
/aarsrapp
*~

inst/*.pdf

# Many kinds of data files
*.rda
*.csv
*.tsv
*.xlsx
*.xls
*.sav
*.dta
*.sas7bdat
*.rds
*.RData
*.sql

*.zip
*.tar
*.gz

